name: Reusable Windows workflow

on:
  workflow_call:
    inputs:
      image:
        description: Windows Server image
        required: true
        type: string
      msvc:
        description: MSVC version (2022/2026)
        default: "2022"
        type: string
      vcpkg-deps-tag:
        description: Git tag of our deps
        required: true
        type: string
      build-type:
        default: RelWithDebInfo
        type: string

jobs:
  Windows:
    name: windows-${{ inputs.image }}

    runs-on: windows-16core

    env:
      archive: FAILEDTODOWNLOAD

    steps:
    - uses: actions/checkout@v4

    - name: Create directories for dependencies
      run: |
        mkdir -p ${{ github.workspace }}/deps
        mkdir -p ${{ github.workspace }}/deps/Qt

    - name: Cache vcpkg deps
      id: vcpkg-cache
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/deps/vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}
        key: vcpkg-deps-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}

    - name: Download prebuilt vcpkg packages
      if: steps.vcpkg-cache.outputs.cache-hit != 'true'
      working-directory: ${{ github.workspace }}/deps
      run: |
        $MANIFEST = "vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}-manifest.txt"
        curl --fail --retry 3 -L -o "$MANIFEST" "https://gitlab.com/OpenMW/openmw-deps/-/raw/main/windows/$MANIFEST"
        $lines = Get-Content "$MANIFEST"
        $URL = $lines[0]
        $split = -split $lines[1]
        $HASH = $split[0]
        $FILE = $split[1]
        curl --fail --retry 3 -L -o "$FILE" "$URL"
        $filehash = Get-FileHash "$FILE" -Algorithm SHA512
        if ( $filehash.hash -ne "$HASH" ) {
          exit 1
        }
        echo "archive=$FILE" >> $env:GITHUB_ENV

    - name: Extract archived prebuilt vcpkg packages
      if: steps.vcpkg-cache.outputs.cache-hit != 'true'
      working-directory: ${{ github.workspace }}/deps
      run: 7z x -y -ovcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }} $env:archive

    - name: Cache Qt
      id: qt-cache
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/deps/Qt/6.6.3/msvc2019_64
        key: qt-cache-6.6.3-msvc2019_64-v1

    - name: Download aqt
      if: steps.qt-cache.outputs.cache-hit != 'true'
      working-directory: ${{ github.workspace }}/deps/Qt
      run: >
        curl --fail --retry 3 -L
        -o aqt_x64.exe
        https://github.com/miurahr/aqtinstall/releases/download/v3.1.15/aqt_x64.exe

    - name: Install Qt with aqt
      if: steps.qt-cache.outputs.cache-hit != 'true'
      working-directory: ${{ github.workspace }}/deps/Qt
      run: .\aqt_x64.exe install-qt windows desktop 6.6.3 win64_msvc2019_64

    - uses: ilammy/msvc-dev-cmd@v1

    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Prime ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: windows-${{ inputs.msvc }}-${{ inputs.build-type }}
        max-size: 2000M

    - name: Configure OpenMW
      run: >
        cmake
        -S .
        -B ${{ github.workspace }}/build
        -G Ninja
        -D CMAKE_BUILD_TYPE=${{ inputs.build-type }}
        -D CMAKE_C_COMPILER_LAUNCHER=ccache
        -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
        -D CMAKE_TOOLCHAIN_FILE='${{ github.workspace }}/deps/vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/scripts/buildsystems/vcpkg.cmake'
        -D CMAKE_PREFIX_PATH='${{ github.workspace }}/deps/Qt/6.6.3/msvc2019_64'
        -D LuaJit_INCLUDE_DIR='${{ github.workspace }}/deps/vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/include/luajit'
        -D LuaJit_LIBRARY='${{ github.workspace }}/deps/vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/lib/lua51.lib'
        -D OPENMW_USE_SYSTEM_SQLITE3=OFF
        -D OPENMW_USE_SYSTEM_YAML_CPP=OFF
        -D OPENMW_LTO_BUILD=ON

    - name: Build OpenMW
      run: cmake --build ${{ github.workspace }}/build

    - name: Copy missing DLLs
      run: |
        cp ${{ github.workspace }}/deps/vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/bin/Release/MyGUIEngine.dll ${{ github.workspace }}/build
        cp -Filter *.dll -Recurse ${{ github.workspace }}/deps/vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/bin/osgPlugins-3.6.5 ${{ github.workspace }}/build
        cp ${{ github.workspace }}/deps/vcpkg-x64-windows-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/bin/*.dll ${{ github.workspace }}/build

    - name: Copy Qt DLLs
      working-directory: ${{ github.workspace }}/deps/Qt/6.6.3/msvc2019_64
      run: |
        cp bin/Qt6Core.dll ${{ github.workspace }}/build
        cp bin/Qt6Gui.dll ${{ github.workspace }}/build
        cp bin/Qt6Network.dll ${{ github.workspace }}/build
        cp bin/Qt6OpenGL.dll ${{ github.workspace }}/build
        cp bin/Qt6OpenGLWidgets.dll ${{ github.workspace }}/build
        cp bin/Qt6Widgets.dll ${{ github.workspace }}/build
        cp bin/Qt6Svg.dll ${{ github.workspace }}/build
        mkdir ${{ github.workspace }}/build/styles
        cp plugins/styles/qwindowsvistastyle.dll ${{ github.workspace }}/build/styles
        mkdir ${{ github.workspace }}/build/platforms
        cp plugins/platforms/qwindows.dll ${{ github.workspace }}/build/platforms
        mkdir ${{ github.workspace }}/build/imageformats
        cp plugins/imageformats/qsvg.dll ${{ github.workspace }}/build/imageformats
        mkdir ${{ github.workspace }}/build/iconengines
        cp plugins/iconengines/qsvgicon.dll ${{ github.workspace }}/build/iconengines

    - name: Package
      shell: bash
      run: bash CI/package-windows.sh build . openmw-windows-x64

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: openmw-windows-${{ inputs.msvc }}-${{ github.sha }}
        path: openmw-windows-x64.zip
